.box-booking-tabs {
  display: flex;
  margin: 0px -15px;

  .item-tab {
    width: 25%;
    padding: 0px 15px;

    .box-tab-step {
      width: 100%;
      padding: 30px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $color-border;
      cursor: pointer;

      .icon-tab {
        display: flex;
        align-items: center;

        .icon-book {
          display: inline-block;
          height: 60px;
          width: 60px;
          margin-right: 20px;
          background-color: $background-bg-3;
          border-radius: 50%;
          text-align: center;
          line-height: 60px;

          &.icon-vehicle {
            background-image: url(/assets/imgs/page/booking/vehicle.svg);
            background-position: center;
            background-repeat: no-repeat;
          }

          &.icon-extra {
            background-image: url(/assets/imgs/page/booking/extra.svg);
            background-position: center;
            background-repeat: no-repeat;
          }

          &.icon-pax {
            background-image: url(/assets/imgs/page/booking/pax.svg);
            background-position: center;
            background-repeat: no-repeat;
          }

          &.icon-payment {
            background-image: url(/assets/imgs/page/booking/payment.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .text-tab {
          font-size: 18px;
          line-height: 28px;
          color: $color-text;
          font-weight: 500;
        }
      }

      &.active,
      &:hover {
        border-bottom-color: $color-text;

        .icon-tab {
          .icon-book {
            background-color: $color-text;

            &.icon-vehicle {
              background-image: url(/assets/imgs/page/booking/vehicle-hover.svg);
            }

            &.icon-extra {
              background-image: url(/assets/imgs/page/booking/extra-hover.svg);
            }

            &.icon-pax {
              background-image: url(/assets/imgs/page/booking/pax-hover.svg);
            }

            &.icon-payment {
              background-image: url(/assets/imgs/page/booking/payment-hover.svg);
            }
          }
        }
      }

      .number-tab {
        span {
          font-weight: 500;
          font-size: 30px;
          line-height: 58px;
          color: $color-text;
        }
      }
    }
  }
}

.box-row-tab {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;

  .box-tab-left {
    padding: 0px 10px;
    width: 60%;
  }

  .box-tab-right {
    padding: 0px 10px;
    width: 40%;
  }
}

.sidebar {
  padding: 30px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid $color-border;
  margin-bottom: 30px;
}

.list-routes {
  li {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 50px;

    .location-item {
      width: 36px;
      height: 40px;
      background: url(/assets/imgs/page/booking/location.png) no-repeat center;
      margin-right: 25px;
      color: $color-white;
      line-height: 35px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      display: inline-block;
    }

    .info-location {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 17px;
      height: 30px;
      width: 2px;
      background: url(/assets/imgs/page/booking/dotted.png) no-repeat center;
    }

    &:last-child {
      padding-bottom: 0px;

      &::before {
        display: none;
      }
    }
  }
}

.list-icons {
  padding: 20px 0px 0px 0px;

  li {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 20px;

    .icon-item {
      width: 40px;
      height: 40px;
      background-color: $color-secondary;
      margin-right: 25px;
      color: $color-white;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      display: inline-block;
      border-radius: 50%;

      &.icon-plan {
        background-image: url(/assets/imgs/page/booking/plan.png);
        background-repeat: no-repeat;
        background-position: center top 10px;
      }

      &.icon-time {
        background-image: url(/assets/imgs/page/booking/time.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .info-location {
      position: relative;
    }

    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.box-map-route {
  height: 100%;
  width: 100%;
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;

  iframe {
    width: 90%;
    height: 90%;
  }
}

.box-info-route {
  display: flex;
  justify-content: space-between;

  .info-route-left {
    position: relative;

    span {
      display: block;
    }
  }

  .info-route-right {
    padding-left: 20px;

    span {
      display: block;
    }
  }
}

.list-ticks-small-booking {
  li {
    padding-left: 35px;

    &::before {
      background-image: url(/assets/imgs/page/booking/tick.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}

.list-vehicles {
  position: relative;

  .item-vehicle {
    border: 1px solid $color-border;
    border-radius: 6px;
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); // subtle shadow

    &:hover {
      background-color: $background-bg-3;

      .btn-primary {
        background-color: $color-secondary;
        color: $color-white;

        svg {
          color: $color-white;
        }
      }
    }

    .vehicle-left {
      width: 65%;
      padding: 0 2%;
      border-right: 1px solid $color-border;
      margin-right: 2%;

      .vehicle-image img {
        width: 100%;
        height: auto;
      }

      .vehicle-facilities {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 5px;

        .text-fact {
          font-size: 14px;
          line-height: 25px;
          color: $color-text;
          display: block;
          padding-left: 25px;
          width: 100%;

          &.meet-greeting {
            background-image: url(/assets/imgs/page/booking/meet.svg);
            background-position: left center;
            background-repeat: no-repeat;
          }

          &.free-cancel {
            background-image: url(/assets/imgs/page/booking/cancel.svg);
            background-position: left center;
            background-repeat: no-repeat;
          }

          &.free-waiting {
            background-image: url(/assets/imgs/page/booking/free-time.svg);
            background-position: left center;
            background-repeat: no-repeat;
          }

          &.safe-travel {
            background-image: url(/assets/imgs/page/booking/safe.svg);
            background-position: left center;
            background-repeat: no-repeat;
          }
        }
      }

      .link {
        text-decoration: underline;

        &:hover {
          color: $color-secondary;
        }
      }
    }

    .vehicle-right {
      width: 33%;
      padding: 0 2%;
      position: relative;

      .vehicle-passenger-luggage {
        display: flex;

        .passenger {
          display: inline-block;
          padding: 0px 0px 0px 18px;
          background-image: url(/assets/imgs/page/booking/passenger.svg);
          background-position: left center;
          background-repeat: no-repeat;
        }

        .luggage {
          display: inline-block;
          padding: 0px 0px 0px 18px;
          background-image: url(/assets/imgs/page/booking/luggage.svg);
          background-position: left center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .box-booking-tabs {
    flex-direction: column;
    margin: 0 auto;
    gap: 3%;
  }

  .box-booking-tabs .item-tab {
    width: 90% !important;
    margin: 0 auto;
    padding: 2% 0;
  }

  .box-booking-tabs .box-tab-step {
    padding: 4% 3%;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom-width: 0.3%;
    gap: 3%;
  }

  .box-booking-tabs .icon-tab {
    flex-direction: row;
    align-items: center;
    gap: 3%;
  }

  .box-booking-tabs .icon-book {
    width: 12%;
    padding-bottom: 12%;
    margin-right: 3%;
    line-height: 1;
    font-size: 80%;
  }

  .box-booking-tabs .text-tab {
    font-size: 90%;
    line-height: 1.4;
  }

  .box-booking-tabs .number-tab span {
    font-size: 120%;
    line-height: 1.5;
  }

  .box-row-tab {
    flex-direction: column;
    margin: 0 auto;
    gap: 3%;
  }

  .box-row-tab .box-tab-left,
  .box-row-tab .box-tab-right {
    width: 100% !important;
    padding: 2% 3%;
    margin-bottom: 3%;
  }

  .item-vehicle {
    flex-wrap: nowrap;
    padding: 3% 2%;
  }

  .item-vehicle .vehicle-left {
    width: 65%;
    margin-right: 1%;
  }

  .item-vehicle .vehicle-right {
    width: 33%;
  }

  .vehicle-facilities .text-fact {
    font-size: 13px;
    line-height: 20px;
  }

  /* Mobile stacking for item-vehicle */
  .item-vehicle {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;

    .vehicle-left,
    .vehicle-right {
      width: 100% !important;
      border: none;
      margin: 0;
      padding: 0;
    }

    .vehicle-right {

      h5,
      p,
      .vehicle-price,
      .price-desc,
      .btn {
        margin: 10px 0;
      }

      .vehicle-passenger-luggage {
        justify-content: center;
        margin-bottom: 15px;
      }
    }

    .vehicle-left {

      h5,

      .vehicle-image {
        img {
          max-width: 75%;
          height: auto;
        }
      }

      .vehicle-facilities {
        display: flex;
        flex-direction: column;
        align-items: center; // center stack
        gap: 3px; // smaller gap
        margin-bottom: 10px; // reduce margin

        .text-fact {
          font-size: 11px; // smaller font
          line-height: 14px; // tighter line spacing
          text-align: center;
          padding: 0;
          width: auto;
        }
      }

    }

    .btn {
      width: 80%;
    }
  }
}

@media (max-width: 450px) {
  .box-booking-tabs {
    width: 95%;
    gap: 2%;
  }

  .box-booking-tabs .item-tab {
    width: 95%;
  }

  .box-booking-tabs .box-tab-step {
    padding: 3% 2%;
    gap: 2%;
  }

  .box-booking-tabs .icon-book {
    width: 14%;
    padding-bottom: 14%;
  }

  .box-booking-tabs .text-tab {
    font-size: 85%;
  }

  .box-row-tab .box-tab-left,
  .box-row-tab .box-tab-right {
    padding: 3% 4%;
  }

  .item-vehicle {
    flex-wrap: nowrap;
    padding: 4% 3%;
  }

  .item-vehicle .vehicle-left {
    width: 60%;
  }

  .item-vehicle .vehicle-right {
    width: 38%;
  }

  .vehicle-facilities .text-fact {
    font-size: 11px;
    line-height: 18px;
  }
}